Binaries
DerivedDataCache
Intermediate
Saved
Build
Content/Assets
Content/Maps
Content/StarterContent
Content/__ExternalActors__
Content/__ExternalObjects__
Content/Mixamo
Content/TopDown
Content/LevelPrototyping
Content/Characters
Content/Cursor

.idea
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace